@media screen and (max-width: 1024px) {
  .header-inner {
    width: 90%;
  }
  .header-inner .header-inner-heading img {
    width: 40px;
    height: 40px;
  }
  .header-inner .header-inner-heading .header-heading {
    font-size: 20px;
  }
  .header-inner .btn {
    display: block;
    height: 32px;
    width: 125px;
    background: linear-gradient(#FA41CC, #7D2166);
    text-align: center;
    border-radius: 10px;
  }
  .header-inner .btn a {
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    line-height: 32px;
  }
  .header-inner ul {
    justify-content: center;
  }
  .header-inner ul li {
    margin-left: 30px;
  }
  .top-inner .top-text h2 {
    font-size: 24px;
    line-height: 35px;
  }
  .top-inner .top-text p {
    line-height: 18px;
  }
  .top-inner .top-text .top-img img {
    width: 70%;
  }
  .features-inner h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .features-inner .heading-blue {
    color: #3BA6C9;
  }
  .features-inner .features-boxes .features-box-heading {
    font-size: 24px;
  }
  .features-inner .features-boxes .features-box-inner .features-box-text .text-bold {
    font-size: 20px;
    line-height: 35px;
  }
}

@media screen and (max-width: 896px) {
  body .button {
    position: fixed;
    display: inline-block;
    right: 50px;
    top: 35px;
    width: 40px;
    height: 20px;
    border: 0;
    padding: 0;
    z-index: 200;
    cursor: pointer;
  }
  body .button .hamburger-line {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: ease 0.3s;
  }
  body .button .top {
    top: 50%;
  }
  body .button .bottom {
    top: 100%;
  }
  body .button .top.close {
    transform: rotate(225deg);
    top: 7px;
  }
  body .button .middle.close {
    opacity: 0;
  }
  body .button .bottom.close {
    transform: rotate(-225deg);
    top: 7px;
  }
  body .humberger-menu-list {
    position: fixed;
    background: linear-gradient(270deg, #fff 0%, #fff 40%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 120;
    transform: translateX(100vw);
    transition: all .3s linear;
  }
  body .humberger-menu-list nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 20%;
    right: 20px;
  }
  body .humberger-menu-list nav ul li a {
    display: inline-block;
    color: #333;
    margin: 20px 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }
  body .humberger-menu-list.active {
    transform: translateX(0);
  }
  .header {
    height: 85px;
  }
  .header-inner {
    width: 80%;
  }
  .header-inner .header-heading {
    font-size: 20px;
    line-height: 85px;
  }
  .header-inner .pc-header-ul {
    display: none;
  }
  .header-inner img {
    width: 40px;
    height: 40px;
    margin: 20px 0 20px 0;
  }
  .header-inner .btn {
    display: none;
  }
  .top {
    background-size: auto;
    position: relative;
    background-position: top -260px right -150px;
    background-repeat: no-repeat;
  }
  .top-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 700px;
    padding-bottom: 50px;
    margin: 0px auto;
  }
  .top-inner .top-text {
    margin: 0 auto;
    text-align: start;
    order: 2;
  }
  .top-inner .top-text .top-heading {
    margin: 20px 0;
  }
  .top-inner .top-text p {
    margin: 20px 0;
  }
  .top-inner .top-img {
    order: 1;
  }
  .top-inner .top-img img {
    width: 60vw;
    position: relative;
    top: 10px;
    left: 0;
  }
  .features-inner .features-heading .heading {
    font-size: 28px;
  }
  .features-inner .features-boxes .features-box-inner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  .features-inner .features-boxes .features-box-inner img {
    order: 1;
    width: 60vw;
  }
  .features-inner .features-boxes .features-box-inner .features-box-text {
    order: 2;
    margin: 20px 0;
  }
  .features-inner .features-boxes .features-box-inner .features-box-text .normal-text {
    width: 70%;
    text-align: start;
    margin-right: auto;
    margin-left: auto;
  }
  .features-inner .features-boxes .features-box-inner .features-box-text .normal-text br {
    display: none;
  }
  .features-inner .features-boxes .features-box-inner .features-box-text 7
.text-bold {
    font-size: 16px;
    font-weight: 600;
  }
  .price-inner .price-heading .heading {
    font-size: 28px;
  }
  .price-inner .table {
    width: 90%;
  }
  .price-inner .table table {
    width: 100%;
  }
  .price-inner .table table tr th, .price-inner .table table tr td {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
    height: 60px;
    line-height: 60px;
  }
  .price-inner .table table tr th {
    background-color: #eee;
  }
  .question-inner {
    width: 95%;
    font-size: 14px;
  }
  .question-inner .question-heading .heading {
    font-size: 28px;
  }
  .question-inner .question-boxes .question-box .question-text {
    font-size: 13px;
  }
  .blog-inner {
    padding: 20px;
  }
  .blog-inner .blog-heading .heading {
    font-size: 28px;
  }
  .blog-inner .blog-containers {
    display: block;
  }
  .blog-inner .blog-containers .blog-container {
    margin: 20px;
    height: 80vw;
  }
  .blog-inner .blog-containers .blog-container p {
    font-size: 15px;
  }
  .blog-inner .blog-containers .blog-container p br {
    display: none;
  }
  .works-inner .works-heading .heading {
    font-size: 28px;
  }
  .works-inner .works-containers .works-container {
    width: 200px;
  }
  .contact-inner .contact-heading .heading {
    font-size: 28px;
  }
  .contact-inner .contact-form {
    width: 80%;
  }
  .contact-inner .contact-form input {
    width: 100%;
  }
  .contact-inner .contact-form .label-input {
    width: auto;
  }
  .contact-inner .contact-form .label-input label {
    font-size: 15px;
  }
  footer {
    height: 170px;
  }
  footer h2 {
    font-size: 20px;
    line-height: 24px;
  }
  footer span {
    display: inline-block;
    line-height: 24px;
    margin: 20px 10px 0 10px;
  }
  footer p {
    font-size: 13px;
    margin-top: 25px;
  }
}
